---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxProjects = collections.projects.length | min(3) %}
<h1>Latest {% if maxProjects == 1 %}Project{% else %}{{ maxProjects }} Projects{% endif %}</h1>

{% set projectslist = collections.projects | head(-3) %}
{% set projectslistCounter = collections.projects | length %}
{% include "projectslist.njk" %}

<p>More projects can be found in <a href="{{ '/projects/' | url }}">the archive</a>.</p>
