---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.projects | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for project in collections.projects | reverse %}
	{% set absoluteProjectUrl %}{{ project.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ project.data.title }}</title>
		<link href="{{ absoluteProjectUrl }}"/>
		<updated>{{ project.date | rssDate }}</updated>
		<id>{{ absoluteProjectUrl }}</id>
		<content type="html">{{ project.templateContent | htmlToAbsoluteUrls(absoluteProjectUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
