<ol reversed class="projectlist" style="counter-reset: start-from {{ (projectslistCounter or projectslist.length) + 1 }}">
{% for project in projectslist | reverse %}
    <li class="projectlist-item{% if project.url == url %} projectlist-item-active{% endif %}">
        <div class="grid-container">
            <div class="left-col">
                <a href="{{ project.url | url }}" class="projectlist-link">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
                <strong><time class="projectlist-date" datetime="{{ project.date | htmlDateString }}">{{ project.date | projectDate }}</time></strong>
                <p>{{ project.data.description }}</p>
                <div>
                    {% for tag in project.data.tags | filterTagList %}
                    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="project-tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="right-col">
                <img src="{{ project.data.image | url }}" alt="{{ project.data.image_alt }}"/>
            </div>
        </div>
    </li>
{% endfor %}
</ol>
