---
layout: layouts/project.njk
title: About Me
templateClass: tmpl-project
eleventyNavigation:
  key: About Me
  order: 3
image: /img/before-times.jpg
image_alt: A man smiling despite a badly aching knee.
---
<p>About
I'm a self taught web developer. I've worked for small studios an agency and am now part of an internal marketing team at Syracuse University. I like being creative, learning new things, and the problem solving involved when coding.</p>

<script type="text/javascript">
const image = document.getElementById('img');
image.addEventListener('mouseover', function(){
  image.src = '/img/current.jpg';
});
image.addEventListener('mouseout', function(){
  image.src = '/img/before-times.jpg';
});
</script>