---
layout: layouts/project.njk
title: About
templateClass: tmpl-project
eleventyNavigation:
  key: About
  order: 3
image: /img/before-times.jpg
image_alt: A man smiling despite a badly aching knee.
---
<p>I'm a self taught web developer. I've worked for small studios an agency and am now part of an internal marketing team at Syracuse University. I like being creative, learning new things, and the problem solving involved when coding.</p>
