---
layout: layouts/project.njk
title: About Me
templateClass: tmpl-project
eleventyNavigation:
  key: About Me
  order: 3
image: img/before-times.jpg
image_alt: A man with smiling despite the badly aching knee.
---
<p>This is John. He's awesome! He likes work and loves life and knows how to write code to make things go on the internet.</p>

<script type="text/javascript">
const image = document.getElementById('img');
image.addEventListener('mouseover', function(){
  image.src = '/img/current.jpg';
});
image.addEventListener('mouseout', function(){
  image.src = '/img/before-times.jpg';
});
</script>