<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    </head>
    <body>
        <div class="skip-link">
            Skip to <a href='#main'>content</a> or <a href='#footer'>footer</a>
        </div>
        <header>
        <h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}<img src="/img/logo.png" alt="The Dolenworks logo featuring a gear and paintbrush."/></a></h1>

        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
        </header>

        <main{% if templateClass %} class="{{ templateClass }}"{% endif %} id="main">
        {{ content | safe }}
        </main>

        <footer id="footer">
            <ul>
                <li><a href="https://www.linkedin.com/in/john-woolschlager/">LinkedIn</a></li>
                <li><a href="https://github.com/wullaski">GitHub</a></li>
                <li><a href="https://gitlab.com/wullaski">GitLab</a></li>
                <li><a href="{{ '/documents/resume.pdf' | url}}">Resume</a></li>
            </ul>
        </footer>

        <!-- Current page: {{ page.url | url }} -->
    </body>
</html>
